# Database URL with generic format of connection.
# https://USERNAME:PASSWORD@IP:PORT/DBNAME
DB_URL="https://super_user:123456@localhost:3306/mpx"

# Logging for MPXSonar
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=DEBUG


# ------- For NCBI downloader -------
# NCBI API-KEY
# To get API key https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/
NCBI_API_KEY=""
NCBI_TOOL="MPXSonar"
NCBI_EMAIL=""
# Output from processing.
SAVE_PATH = "/data/prod/download"


# ------- For Annotation Tool -------
# Please use the Installation.bash script to install SnpEff,
# ANNO_TOOL_PATH = find snpEff.jar
ANNO_TOOL_PATH = /mnt/c/works/release/snpEff.jar
SNPSIFT_TOOL_PATH = /mnt/c/works/release/snpEff/SnpSift.jar

VCF_ONEPERLINE_PATH = /mnt/c/works/release/snpEff/scripts/vcfEffOnePerLine.pl
